<h3>Convertisseur</h3>

<ul class="list-table converter">
    <li>
        <input type="number" step="any" ng-model="converter.value" autofocus>
    </li>
    <li>
        <select ng-model="converter.from">
            <option ng-repeat="currency in $root.currencyList.currencies">{{currency.name}}</option>
        </select>
    </li>
    <li><a ng-click="converter.switchChange()"><i class="icon-refresh"></i></a></li>
    <li>{{converter.converted | currency: ""}}</li>
    <li>
        <select ng-model="converter.to">
            <option ng-repeat="currency in $root.currencyList.currencies">{{currency.name}}</option>
        </select>
    </li>    
</ul>
<i>{{converter.notice}}</i>

<h3>Ajout Rapide</h3>