<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/myExpenses.css" rel="stylesheet">
    <title>My Expenses</title>
</head>
<body ng-app="myExpenses">
    <div class="container-fluid" ng-controller="MyExpensesCtrl">        
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Title</a>
                <ul class="nav">
                    <li class="{{($root.currentMenuItem == item.href) && 'active'}}" ng-repeat="item in $root.menuItems">
                        <a ng-href="{{item.href}}">
                            <i class="{{item.iconClass}}"></i>
                            <span>{{item.label}}</span>
                        </a>
                    </li>
                </ul>
             </div>
        </div>
        <div ng-view></div>
        <select id="displayCurrency" ng-model="$root.displayCurrency">
            <option></option>
            <option ng-repeat="currency in $root.currencyList.currencies">{{currency.name}}</option>
        </select>
            
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="js/TestJs.js"></script>
    <script src="js/Currency.js"></script>
    <script src="js/myExpenses.js"></script>
</body>
</html>