body {
    background-color: #fffefe;
}
select, input, input[type="number"] {
    display: inline;
    padding: 0 5px;

    width: 75%;
    height: 100%;
    
    border-radius: 0;
    border: 0;
    border-bottom: 1px dotted grey;
    vertical-align:baseline;
    background: transparent;
    -webkit-appearance: none;
}
#displayCurrency {
    position: fixed;
    top: 50px;
    right: 20px;
    
    width: 40px;
    height: 25px;
        
}

.btn-round {
    margin: 0;
    padding: 0;
    
    height: 30px;
    width: 30px;
    
    border-radius: 100%;
}
a.btn-round i {
    margin-top: 6px;
}
.list-table {
    margin: 0;
    padding: 5px;
    height: 30px;
    width: 60%;
    border-bottom: 1px solid #efefef;
}
.list-table li {
    display: inline-block;
}

.list-table:nth-child(odd) {
/*    background-color: #fafafa;*/
}

.list-table input[type="number"] {
    width: 60%;
    height: 30px;
}
.list-table.header {
    border-bottom: 1px solid #dedede;
    font-weight: bold;
    background-color: transparent;
}
.list-table.header span.mini {
    display: none;
}
.list-table.new {   
    border-bottom: 0;
    background-color: #f9f9ff;
}

.expense li {
    text-align: right;
    line-height: 30px;
    text-align: center;
}
.expense li:nth-child(1) {
    width: 40%;
}
.expense li:nth-child(2) {
    width: 25%;
}
.expense li:nth-child(3) {
    width: 5%;
}
.expense li:nth-child(4) {
    width: 26%;
}
.expense.newExpense li:nth-child(1) {
    width: 34%;
}
.expense.newExpense li:nth-child(2) {
    width: 23%;
}
.expense.newExpense li:nth-child(3) {
    width: 6%;
}
.expense.newExpense li:nth-child(4) {
    width: 15%;
}

.archive {
    padding: 0;
    height: 100%;
    border-bottom: 1px dotted grey;
}
.archive:nth-child(odd) {
/*    background-color:transparent;*/
}
.archiveTitle {
    margin-bottom: -5px;
}
.archive li:nth-child(1) {
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    
    color: #555;
    background-color: #eee;
    font-weight: bold;
}
.archive li:nth-child(2) {
    width: 40%;
}
.archive li:nth-child(3) {
    width: 25%;
}
.archive li:nth-child(4) {
    width: 5%;
}
.archive li:nth-child(5) {
    width: 26%;
}

.change:nth-last-child(2) {
    border-bottom: 1px solid #ddd;
}
.change li {
    width: 15%;
}
.change li:nth-child(odd) {
    text-align: right;
}
.change li:last-child {
    text-align: center;
    width: 30%;
}

.converter {
    margin-bottom: 30px;
}
.converter input[type="number"] {
    text-align: right;
}
.converter li:nth-child(1), .converter li:nth-child(4) {
    width: 5%;
}
.converter li:nth-child(2) {
    text-align: right;
    width: 20%;
}
.converter li:nth-child(3), .converter li:nth-child(5) {
    width: 15%;
}
.converter li:nth-child(6) {
    width: 100%;
}

.converted {
    font-weight: bold;
}
.edited {
    background-color: #fefeee;
}

.mobile {
    width: 640px;
}

/*@media (max-width: 640px) {*/
@media only screen and (max-device-width: 480px) {
    body {
        width: 480px;
        font-size: 1.1em;
    }
    h3 {
        font-size: 1.5em;
    }
    .navbar {
        position: fixed;
        left: 0;
        bottom: -20px;
        width: 100%;
    
    }
    .navbar .navbar-inner { 
        border-radius: 0;
        padding: 0;
    }
    .navbar .nav {
        padding-left: 9%;
    }
    .navbar .brand { display: none }
    .navbar a span { display: none }
    .navbar a {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
    

    body > .container-fluid {
        padding-top: 10px;
        padding-bottom: 80px;
    }


    .list-table  {
        width: 100%;
    }
    .list-table input::-webkit-outer-spin-button,
    .list-table input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .list-table.header span.full {
        display: none;
    }
    .list-table.header span.mini {
        display: inline;
    }
    #displayCurrency {
        display:fixed;
/*        width: 100px;*/
        top: auto;
        right: 2px;
        bottom: 15px;
    }
}