<h3>Archives</h3>
<ul class="list-table expense headers">
    <li class="name">Nom</li>
    <li class="price">Prix</li>
    <li class="qte">Qté</li>
    <li class="price">Total</li>
</ul>
<ul class="list-table expense" ng-repeat="expense in $root.expenseList.expenses" ng-show="expense.archivedAt">
    <li class="date" ng-show="(expense.archivedAt | date: 'dd/MM/yyyy') != ($root.expenseList.expenses[$index - 1].archivedAt | date: 'dd/MM/yyyy')">{{expense.archivedAt | date: 'dd/MM/yyyy'}}</li>
    <li class="name" ng-click="showActions = false">{{expense.name}}</li>
    <li class="price" ng-class="expenseRenderer('price', expense)[1] && 'converted'" ng-click="showActions = false">
        <span>
            {{expenseRenderer("price", expense)[0]}}
        </span>
    </li>
    <li class="qte" ng-click="showActions = false">{{expense.quantity}}</li>
    <li class="price" ng-class="expenseRenderer('price', expense)[1] && 'converted'" ng-click="showActions = true" ng-hide="showActions">
        <span>
            {{expenseRenderer("total()", expense)[0]}}
        </span>
    </li>
    <li class="actions" ng-show="showActions">
        <a class="btn" ng-click="unarchiveExpense(expense)"><i class="icon-reply"></i></a>
        <a class="btn" ng-click="destroyExpense($index)"><i class="icon-trash"></i></a>
    </li>
</ul>
<h3>Totals</h3>
<ul>
    <li ng-repeat="total in totals()">{{total}}</li>
</ul>