<h3>Convertisseur</h3>
<ul class="list-table converter">
    <li class="currency">
        <select ng-model="converter.from">
            <option ng-repeat="currency in $root.currencyList.currencies">{{currency.name}}</option>
        </select>
    </li>
    <li><a class="btn" ng-click="converter.switchChange()"><i class="icon-exchange"></i></a></li>
    <li class="currency">
        <select ng-model="converter.to">
            <option ng-repeat="currency in $root.currencyList.currencies">{{currency.name}}</option>
        </select>
    </li>
    <li><i>{{converter.notice}}</i></li>
</ul>
<ul class="list-table converter">
    <li class="price">
        <input type="number" step="any" ng-model="converter.value">
    </li>
    <li class="currency">{{converter.from}}</li>
    <li>:&nbsp;</li>
    <li>{{converter.converted | currency: ""}}</li>
    <li class="currency">{{converter.to}}</li>
    <li class="actions">
        <a class="btn" ng-click="converter.value=''"><i class="icon-remove"></i></a>
    </li>
</ul>



<h3>Ajout Rapide</h3>
<ul class="list-table expense new">
    <li class="name"><input type="text" placeholder="nom" ng-model="newExpense.name"></li>
    <li class="price"><input type="number" placeholder="prix" step="any" ng-model="newExpense.price"></li>
    <li class="qte"><input type="number" placeholder="qté" step="any" ng-model="newExpense.quantity"></li>
    <li class="price">{{newExpense.total()|currency:""}}</li>
    <li>
        <select ng-model="newExpense.currencyName">
            <option ng-repeat="currency in $root.currencyList.currencies">{{currency.name}}</option>
        </select>
    </li>
    <li class="actions">
        <a class="btn" ng-show="editMode" ng-click="clearNewExpense()"><i class="icon-ok"></i></a>
        <a class="btn" ng-hide="editMode" ng-click="addExpense()"><i class="icon-plus"></i></a>
        <a class="btn" ng-hide="editMode" ng-click="clearNewExpense()"><i class="icon-remove"></i></a>
    </li>
</ul>
